nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32174D;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 80px;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 1rem;
  padding: 0.5rem;
}

.logo {
  max-height: 35px;
  width: auto;
  flex: 0 0 auto;
}

nav ul {
  display: flex;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

nav ul li {
  list-style: none;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: #523968;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer; /* Add cursor pointer */
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

.circle {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: white;
  color: #32174D; /* Change text color to match the navbar */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-left: auto;
  margin-right: 10px;
}

.details {
  position: absolute;
  top: 80px; /* Ensure it is below the navbar */
  right: 10px;
  width: auto;
  background-color: white;
  color: black;
  border: 2px solid #32174D;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2px;
  z-index: 10; /* Ensure it is above other content */
}

.details p {
  margin: 0 0 10px 0;
  font-size: 1em;
  font-weight: bold;
}

.signup-button {
  background-color: #32174D;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
}

.signup-button:hover {
  background-color: #735d85;
}

@media (max-width: 768px) {
  .circle {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: white;
    color: #32174D;
    border-radius: 50%;
    text-align: center;
    margin: 0 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    flex-direction: column;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }

  nav ul li.circle {
    margin: 0.5rem auto;
  }

  nav ul.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    background-color: #32174D; /* Background color of the menu */
  }

  nav ul li {
    width: 100%;
    text-align: center;
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }

  nav ul li a:not(.active):hover {
    background-color: #523968; /* Add hover effect for mobile menu */
  }

  .details {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #000;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.9em;
    text-align: center;
  }

  .signup-button {
    padding: 6px 12px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    background-color: #32174D; /* Background color of the menu */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }

  nav ul li a:not(.active):hover {
    background-color: #523968; /* Add hover effect for mobile menu */
  }

  nav ul li.circle {
    margin: 0.5rem auto;
  }

  nav ul li .details {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #000;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.9em;
    text-align: center;
  }
}
